

@*Start Body*@
<section>
    <center>
        <div class="mt-5 p-5 bg-warning text-white rounded">
            <h3>Welcome to AboutUs</h3>
            <p>lorem ipsum ............</p>
        </div>
    </center>
</section>
@*End Body*@

