

@*Start Body*@
<section>
    <center>
        <div class="mt-5 p-5 bg-info text-white rounded">
            <h3>Welcome to Contact Us</h3>
            <p>lorem ipsum ............</p>
        </div>
    </center>
</section>
@*End Body*@

