


@*Start Body*@
<section>
    <center>
        <div class="mt-5 p-5 text-bg-success text-white rounded">
            <h3>Welcome to Privacy</h3>
            <p>lorem ipsum ............</p>
        </div>
    </center>
</section>
@*End Body*@

