
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@*Start Body*@
<section>
    <center>
        <div class="mt-5 p-5 bg-danger text-white rounded">
            <h3>Welcome to Register</h3>
            <p>lorem ipsum ............</p>
        </div>
    </center>
</section>
@*End Body*@

